<html>
<br>
<h3 align="center">
    Acerca de la App del Conciliador
</h3>
<br>
<h4>
    ¿Para qué sirve?
</h4>
<br>
<p>
    La App del Conciliador proporciona varios análisis de los servicios de
    conciliación gratuitos personalizados para cada usuario individual. Es
    una plataforma digital que integra y visualiza datos administrativos con
    el propósito de mejorar la prestación de servicios legales en todo el Perú.
</p>
<br><br>
<h4>
    ¿Cómo usarla?
</h4>
<br>
<p>
    La aplicación permite a los conciliadores consultar de forma interactiva una serie de análisis, tales como:
</p>
<ul>
    <li>Actualizaciones en tiempo real sobre el rendimiento reciente.</li>
    <li>Una inmersión profunda en el desempeño histórico.</li>
    <li>Una comparación del rendimiento individual con el rendimiento promedio de todos los conciliadores.</li>
</ul>
<p>
    Usted tiene la posibilidad de filtrar esta información por tipo de expediente y por período de tiempo que
    se defina. Se recomienda consultar con frecuencia las diferentes dimensiones visualizadas en la Aplicación
    ya que sólo así podrá ver la evolución de su rendimiento y explotar al máximo la utilidad del aplicativo.
</p>
<br><br>
<h4>
    ¿Quién desarrolló esta aplicación?
</h4>
<br>
<p>
    La aplicación fue desarrollada por el equipo de Evaluación de Impacto para el Desarrollo (DIME) del Banco Mundial,
    con datos y orientación de ALEGRA.
</p>
<br><br>
<h4>
    Recursos Adicionales
</h4>
<br>
<ul>
    <li>Se puede encontrar un Directorio Nacional de Centros de Conciliación y otros servicios legales gratuitos
        aquí.
    </li>
    <li>Se puede encontrar información sobre cómo obtener asesoramiento legal gratuito aquí.</li>
</ul>
<br><br>
<h4>
    Soporte Técnico
</h4>
<br>
<p>
    En el caso de que tenga alguna pregunta, sugerencia o requiera de asistencia técnica, por favor póngase en
    contacto con Galileu Kim (gkim6@worldbank.org).
</p>

</html>