{% load otree static %}
<html>
  <br>
  <h3 align="center">Catálogo de Indicadores de la App del Conciliador</h3>
  <br><br>
  <h4>
    Número de expedientes
  </h4>
  <br>
  <p>
    Número de expedientes conciliatorios finalizados en el periodo de tiempo señalado por el conciliador.
  </p>
  <br><br>
  <h4>
    Tasa de efectividad
  </h4>
  <br>
  <p>
    Porcentaje de expedientes conciliatorios exitosos (con Acuerdo Total o Parcial) del total de expedientes 
    finalizados en el periodo de tiempo señalado por el conciliador.
  </p>
  <br><br>
  <h4>
    Duración de expedientes
  </h4>
  <br>
  <p>
    Tiempo promedio, en días, entre la fecha de registro y la fecha de acta de los expedientes conciliatorios 
    finalizados en el periodo de tiempo señalado por el conciliador.
  </p>
</html>