{% load otree static %}
<html>
  <br>
  <h3 align="center">¡Bienvenido/a a la App del Conciliador, Test User!</h3>
  <br><br>
  <p align="justify">
    El video explica en detalle el contexto, las funciones, la utilidad así como los objetivos de la aplicación.
  </p>
  <p align="justify">
    Esta aplicación le permite monitorear su contribución individual para la mejora del acceso a la justicia en Perú. 
    Ud. puede consultar el número de expedientes que trabajó, la tasa de conciliación exitosa así como la duración 
    media hasta concluir un expediente. Descubra estas estadísticas personalizadas en las pestañas “Resumen” y 
    “Rendimiento del conciliador”.
  </p>
  <p align="justify">
    En Perú, la conciliación extrajudicial tiene una función clave cuando se trata de acceso a la justicia ya que:
  </p>
  <ul>
    <li>ayuda a ciudadanos con bajos recursos</li>
    <li>aporta a la descongestión de la vía judicial</li>
    <li>promueve la cultura de paz</li>
  </ul>
  <p>
    Es por eso que queremos que la conciliación siga creciendo como mecanismo alternativo para la solución de conflictos.
  </p>
  <br><br>
  <h5>
    Resumen de rendimiento conciliatorio
  </h5>
  <br>
  <p>
    Durante los últimos 60 días, usted ha logrado que el <b>72%</b> de los expedientes se resuelvan con acuerdo parcial o total.
    Este porcentaje es <b>superior</b> a su promedio de acuerdos parciales y totales a lo largo de su carrera <b>(65%), y superior</b> 
    al promedio de todos los conciliadores en los Centros de Conciliación Gratuitos durante el mismo periodo.
  </p>
</html>