{% load otree static %}
<html>
<p align="justify">
    Le informamos de que, con el fin de mantener la calidad de los servicios conciliatorios, la DCMA ya tiene acceso a
    la App de Gestión,
    en la que supervisan el trabajo de todos los conciliadores. Es por ello que la información sobre rendimiento se
    comparte tanto con los
    conciliadores como con sus supervisores con el fin de asegurar la calidad del servicio conciliatorio que se ofrece a
    los ciudadanos.
    Sus indicadores de rendimiento en la App de Gestión incluyen sus tasas de acuerdo y la duración de sus procesos,
    entre otros indicadores
    relevantes.
</p>
<br><br>
<img src="{% static 'otree_shiny/minjus_logo.png' %}" class="center"/>
<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>
</html>