{% extends "global/Page.html" %}
{% load otree %}

{% block app_styles %}
    <style>
        #body-class {
            background-color:white;
            height: 100%;
            top: 0;
            left: 0;
            padding: 0%;
            width: 100%;
            color:black;
            border: 0;
        }
        #header-title {
            background-color:#ce4b28;
            height: 20%;
            top: 0;
            left: 0;
            margin: 0%;
            padding: 4%;
            width: 100%;
            color:white;
        }
        html, body {
            background-color:white;
            margin: 0;
            padding: 0;
        }
        .next-button {
            background-color:#ce4b28;
            border: 0;
        }
        .next-button:hover {
            background-color:#ce4b28;
            border: 0;
        }
    </style>
{% endblock %}

{% block app_scripts %}


{% endblock %}