{% load otree static %}
<html>

<div class="row">
    <div class="col-sm-4">
        <form class="well" role="complementary" id="left_box" style="position:relative;
                                        width:350px;
                                        padding-bottom:20px;">
            <div id="concil_variable"
                 class="form-group"
                 role="radiogroup" aria-labelledby="concil_variable-label">
                <label class="control-label" id="concil_variable-label" for="concil_variable">Agrupar expedientes
                    por:</label>
                <div class="">
                    <div class="radio">
                        <label>
                            <input type="radio" name="concil_variable" value="Fecha de registro"
                                   class="rendimiento-radio" checked="checked">
                            <span>Fecha de registro</span>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="concil_variable" value="Fecha de acta" class="rendimiento-radio">
                            <span>Fecha de acta</span>
                        </label>
                    </div>
                </div>
            </div>
            <div id="type_of_graph"
                 class="form-group "
                 role="radiogroup" aria-labelledby="type_of_graph-label">
                <label class="control-label" id="type_of_graph-label" for="type_of_graph">Indicador:</label>
                <div class="">
                    <div class="radio">
                        <label>
                            <input type="radio" name="type_of_graph" value="Número de expedientes"
                                   class="rendimiento-radio" checked="checked">
                            <span>Número de expedientes</span>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="type_of_graph" value="Tasa de efectividad"
                                   class="rendimiento-radio">
                            <span>Tasa de efectividad</span>
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="type_of_graph" value="Duración de expedientes"
                                   class="rendimiento-radio">
                            <span>Duración de expedientes</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="especialidad">Especialidad del
                    expediente</label>
                <div>
                    <select id="especialidad" tabindex="-1"
                            style="border: 1px solid #cccccc; padding: 6px 12px; display: inline-block; width: 100%; overflow: hidden; position: relative; z-index: 1; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: none; box-shadow: none; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;">
                        <option value="TODOS" selected="selected">TODOS</option>
                        <option value="FAMILIA">
                            FAMILIA
                        </option>
                        <option value="CIVIL">
                            CIVIL
                        </option>
                        <option value="OTROS">
                            OTROS
                        </option>
                        <option value="CONTRATACIONES DEL ESTADO">CONTRATACIONES DEL ESTADO
                        </option>
                        <option value="LABORAL">
                            LABORAL
                        </option>
                        <option value="PENAL (INDEMNIZACIONES)">PENAL (INDEMNIZACIONES)
                        </option>
                        <option value="SALUD">
                            SALUD
                        </option>
                    </select>
                </div>
            </div>
            <div id="date_concil_solo"
            >
                <label class="control-label" id="date_concil_solo-label" for="date_concil_solo">Año de
                    resolución</label>
                <div class="input-group input-group-sm">
                    <input class="datepicker form-control" type="text" aria-labelledby="date_concil_solo-label"
                           title="Date ">
                    <span class="input-group-addon input-group-prepend input-group-append">
              <span class="input-group-text">a</span>
            </span>
                    <input class="datepicker form-control" type="text" aria-labelledby="date_concil_solo-label"
                           title="Date ">
                </div>
            </div>
            <a id="concilPDF" class="btn btn-success text-white mt-4"
               href="#" target="_blank"
               aria-live="polite">
                <i class="fa fa-download" role="presentation" aria-label="download icon"></i>
                Descargar PDF
            </a>
        </form>
    </div>
    <div class="col-sm-8" role="main" id="num_of_files">
        <h1 id="graph-title-one">Número de expedientes</h1>
        <p id="graph-sub-title-one">Las gráficas abajo representan el total histórico y la evolución temporal de su
            número de casos.</p>
        <hr>
        <h4 id="graph-sub-title-two">¿Cuántos expedientes conciliatorios de cada materia he manejado?</h4>
        <canvas id="expedientes-chart"></canvas>
        <hr class="mt-xl-5">
        <h6 id="graph-sub-title-three">¿Cuántos expedientes conciliatorios he manejado cada mes?</h6>
        <canvas id="constconciliatorios"></canvas>
    </div>
</div>

<script type="text/javascript">
    $('.datepicker').datepicker({autoClose: true});
    $('.datepicker').on('changeDate', function () {
        $(this).datepicker('hide');
    });

    $('.rendimiento-radio').on('change', function () {
        const titleOne = $('#graph-title-one');
        const subTitleOne = $('#graph-sub-title-one');
        const subTitleTwo = $('#graph-sub-title-two');
        const subTitleThree = $('#graph-sub-title-three');
        switch ($(this).val()) {
            case 'Fecha de registro':

                break;
            case 'Fecha de acta':

                break;
            case 'Número de expedientes':
                titleOne.html('Número de expedientes');
                subTitleOne.html('Las gráficas abajo representan el total histórico y la evolución temporal de su número de casos.');
                subTitleTwo.html('¿Cuántos expedientes conciliatorios de cada materia he manejado?');
                subTitleThree.html('¿Cuántos expedientes conciliatorios he manejado cada mes?');
                drawChartOne('Número de expedientes');
                drawChartTwo('Expedientes mensuales', 'Tiempo');
                break;
            case 'Tasa de efectividad':
                titleOne.html('Tasa de efectividad');
                subTitleOne.html('Las gráficas abajo representan el total histórico y la evolución de su tasa de efectividad.');
                subTitleTwo.html('¿Qué tan exitoso soy para llegar a un acuerdo (total / parcial) para cada materia de expediente conciliatorio?');
                subTitleThree.html('¿Qué tan exitoso he sido para llegar a un acuerdo en expedientes de meses anteriores?');
                drawChartOne('Porcentaje de acuerdos exitosos');
                drawChartTwo('Tasa de efectividad', 'Tiempo');
                break;
            case 'Duración de expedientes':
                titleOne.html('Duración de expedientes');
                subTitleOne.html('Las gráficas abajo representan el total histórico y la evolución de su la duración promedio de sus casos.');
                subTitleTwo.html('¿Cuántos días en promedio dedico a cada materia de expediente conciliatorio?');
                subTitleThree.html('¿Cuál ha sido la duración media de mis expedientes a lo largo del tiempo?');
                drawChartOne('Duración (dias)');
                drawChartTwo('Duración de los expedientes (promedio mensual)', 'Tiempo');
                break;
        }
    });

    function drawChartOne(xAxisLabel = '') {
        const expendientesLabels = [
            'PENSION DE ALIMENTOS',
            'DESALOJO',
            'OTROS',
            'LEY 29227 PARA SEPARACION CONVENCIONAL',
            'OBLIGACION DE DAR SUMA DE DINERO',
            'TENENCIA DE MENOR',
            'REGIMEN DE VISITAS',
            'GASTOS DE EMBARAZO',
            'INDEMNIZACION',
            'REIVINDICACION DE PROPIEDAD',
            'OBLIGACION DE HACER',
            'OBLIGACION DE DAR',
            'LIQUIDACION DE SOCIEDAD DE GANANCIALES',
        ];

        const númeroExpedientesData = {
            labels: expendientesLabels,
            datasets: [
                {
                    label: '',
                    backgroundColor: ['#56B4E9', '#F8766D', '#00ACFC', '#8CAB00', '#00C1AB', '#FF65AC', '#D575FE', '#E18A00', '#BE9C00', '#F962DD', '#00BBDA', '#00BE70', '#24B700'],
                    borderColor: ['#56B4E9', '#F8766D', '#00ACFC', '#8CAB00', '#00C1AB', '#FF65AC', '#D575FE', '#E18A00', '#BE9C00', '#F962DD', '#00BBDA', '#00BE70', '#24B700'],
                    data: [513, 134, 109, 71, 46, 36, 26, 11, 8, 7, 3, 3, 1],
                }
            ]
        };

        const númeroExpedientesConfig = {
            type: 'bar',

            data: númeroExpedientesData,
            options: {
                indexAxis: 'y',
                plugins: {
                    legend: {
                        display: false,
                    }
                },
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: xAxisLabel,
                            font: {
                                size: 22
                            }
                        }
                    }
                }
            }
        };
        const númeroExpedientes = new Chart(
            document.getElementById('expedientes-chart'),
            númeroExpedientesConfig
        );
    }

    function drawChartTwo(xAxisLabel = '', yAxisLabel = '') {

        const conciliatoriosLabels = [
            '2014', '', '', '', '', '', '', '', '', '', '', '',
            '2015', '', '', '', '', '', '', '', '', '', '', '',
            '2016', '', '', '', '', '', '', '', '', '', '', '',
            '2017', '', '', '', '', '', '', '', '', '', '', '',
            '2018', '', '', '', '', '', '', '', '', '', '', '',
            '2019', '', '', '', '', '', '', '', '', '', '', '',
            '2020', '', '', '', '', '', '', '', '', '', '', '',
            '2021', '', '', '', '', '', '', '', '', '', '', '',
            '2022', '', '', '', '', '', '', '', '', '', '', '',
        ];
        const conciliatoriosData = {
            labels: conciliatoriosLabels,
            datasets: [
                {
                    backgroundColor: '#56B4E9',
                    borderColor: '#56B4E9',
                    data: [
                        12, 31, 38, 57, 75, 84, 0, 54, 65, 42, 34, 15,
                        12, 31, 38, 57, 75, 84, 0, 54, 65, 42, 34, 15,
                        12, 31, 38, 57, 75, 84, 0, 54, 65, 42, 34, 15,
                        12, 31, 38, 57, 75, 84, 0, 54, 65, 42, 34, 15,
                        12, 31, 38, 57, 75, 84, 0, 54, 65, 42, 34, 15,
                        12, 31, 38, 57, 75, 84, 0, 54, 65, 42, 34, 15,
                        12, 31, 38, 57, 75, 84, 0, 54, 65, 42, 34, 15,
                        12, 31, 38, 57, 75, 84, 0, 54, 65, 42, 34, 15,
                        12, 31, 38, 57, 75, 84, 0, 54, 65, 42, 34, 15,
                        12, 31, 38, 57, 75, 84, 0, 54, 65, 42, 34, 15,
                    ],

                }
            ]
        };

        constconciliatoriosConfig = {
            type: 'line',
            data: conciliatoriosData,
            options: {
                plugins: {
                    legend: {
                        display: false,
                    }
                },
                scales: {
                    y: {
                        title: {
                            display: true,
                            text: yAxisLabel,
                            font: {
                                size: 22
                            }
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: xAxisLabel,
                            font: {
                                size: 22
                            },
                        },
                    },
                }
            }
        };

        const constconciliatorios = new Chart(
            document.getElementById('constconciliatorios'),
            constconciliatoriosConfig
        );
    }

</script>

</html>