{% load otree static %}
<html>
<div class="row">
    <div class="col-sm-6">
        <h1>Resumen de rendimiento conciliatorio</h1>
        <p>Esta página contiene el resumen de su rendimiento desde el año anterior.</p>
        <div class="well" style="overflow-y:scroll; max-height: 500px; padding-top: 75px; padding-bottom: 75px;">
            <div id="landing_variable"
                 class="form-group shiny-input-radiogroup shiny-input-container shiny-input-container-inline shiny-bound-input shinyjs-resettable"
                 role="radiogroup" aria-labelledby="landing_variable-label">
                <label class="control-label" id="landing_variable-label" for="landing_variable">Agrupar expedientes
                    por:</label>
                <div class="shiny-options-group">
                    <label class="radio-inline">
                        <input type="radio" name="landing_variable" value="Fecha de registro" checked="checked">
                        <span>Fecha de registro</span>
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="landing_variable" value="Fecha de acta">
                        <span>Fecha de acta</span>
                    </label>
                </div>
            </div>
            <div id="landing_date" class="shiny-date-input form-group shiny-input-container shiny-bound-input">
                <label class="control-label" id="landing_date-label" for="landing_date" style="width:100%;">
                    Indicadores se refieren al período del primer día del mes hasta el día que usted elija en este
                    campo:
                    <div class="pull-right">
                        <i class="fa fa-info" role="presentation" aria-label="info icon"
                           title="Personalice el análisis en esta página para incluir solo la fecha desde el primer día del mes hasta la fecha de entrada. En otras palabras, un análisis para el 15 de marzo de 2020 comparará los expedientes del 1 de marzo de 2020 al 15 de marzo de 2020 con el mismo período de tiempo el mes pasado (1 de febrero de 2020 - 15 de febrero de 2020), con el mismo período de tiempo del año pasado. (1 de marzo de 2019 - 15 de marzo de 2019) y al mes medio para el mismo período de tiempo de 15 días."
                           data-toggle="tooltip" data-placement="top"></i>
                    </div>
                </label>
                <input type="text" class="form-control shinyjs-resettable" aria-labelledby="landing_date-label"
                       title="Date format: yyyy-mm-dd" data-provide="datepicker">
            </div>
            <div id="monthTable" class="formattable_widget html-widget html-widget-output shiny-bound-output"
                 style="width: 100%; visibility: inherit;" width="100%" height="0" aria-live="polite">
                <table class="table table-condensed table table-condensed">
                    <thead>
                    <tr>
                        <th style="text-align:right;"> Periodo de Tiempo</th>
                        <th style="text-align:right;"> Número de expedientes</th>
                        <th style="text-align:right;"> Tasa de éxito (%)</th>
                        <th style="text-align:right;"> Duración de expedientes (días)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="text-align:right;"> Mes seleccionado</td>
                        <td style="text-align:right;"><span
                                style="display: inline-block; direction: rtl; unicode-bidi: plaintext; border-radius: 4px; padding-right: 2px; background-color: wheat; width: 78.18%">9</span>
                        </td>
                        <td style="text-align:right;"> 0</td>
                        <td style="text-align:right;"><span
                                style="display: inline-block; direction: rtl; unicode-bidi: plaintext; border-radius: 4px; padding-right: 2px; background-color: pink; width: 20.00%">0</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;"> Mes anterior</td>
                        <td style="text-align:right;"><span
                                style="display: inline-block; direction: rtl; unicode-bidi: plaintext; border-radius: 4px; padding-right: 2px; background-color: wheat; width: 78.18%">9</span>
                        </td>
                        <td style="text-align:right;"> 67</td>
                        <td style="text-align:right;"><span
                                style="display: inline-block; direction: rtl; unicode-bidi: plaintext; border-radius: 4px; padding-right: 2px; background-color: pink; width: 20.00%">0</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;"> Mes seleccionado del año anterior</td>
                        <td style="text-align:right;"><span
                                style="display: inline-block; direction: rtl; unicode-bidi: plaintext; border-radius: 4px; padding-right: 2px; background-color: wheat; width: 20.00%">1</span>
                        </td>
                        <td style="text-align:right;"> 100</td>
                        <td style="text-align:right;"><span
                                style="display: inline-block; direction: rtl; unicode-bidi: plaintext; border-radius: 4px; padding-right: 2px; background-color: pink; width: 20.00%">0</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;"> Promedio mensual</td>
                        <td style="text-align:right;"><span
                                style="display: inline-block; direction: rtl; unicode-bidi: plaintext; border-radius: 4px; padding-right: 2px; background-color: wheat; width: 100.00%">12</span>
                        </td>
                        <td style="text-align:right;"> 47</td>
                        <td style="text-align:right;"><span
                                style="display: inline-block; direction: rtl; unicode-bidi: plaintext; border-radius: 4px; padding-right: 2px; background-color: pink; width: 100.00%">16</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="my-4">
            <canvas id="men-suales"></canvas>

        </div>
        <div class="my-4">
            <canvas id="tasa-de"></canvas>
        </div>
        <div class="my-4">
            <canvas id="duracion"></canvas>
        </div>
    </div>
</div>
<script type="text/javascript">
    const Resumenlabels = [
        'Sep 2021',
        'Oct 2021',
        'Nov 2021',
        'Dec 2021',
        'Jan 2022',
        'Feb 2022',
        'Mar 2022',
        'Apr 2022',
        'May 2022',
    ];

    const menSualesData = {
        labels: Resumenlabels,
        datasets: [{
            label: '',
            backgroundColor: '#56B4E9',
            borderColor: '#56B4E9',
            data: [3, 20, 20, 23, 18, 20, 33, 17, 9],
        }]
    };

    const menSualesConfig = {
        type: 'line',
        data: menSualesData,
        options: {
            plugins: {
                legend: {
                    display: false,
                }
            },
            scales: {
                y: {
                    title: {
                        display: true,
                        text: "Expedientes mensuales",
                        font: {
                            size: 22
                        }
                    }
                },
                x: {
                    title: {
                        display: true,
                        text: "Tiempo",
                        font: {
                            size: 22
                        }
                    }
                }
            }
        }
    };
    const menSuales = new Chart(
        document.getElementById('men-suales'),
        menSualesConfig
    );


    const tasaDeData = {
        labels: Resumenlabels,
        datasets: [{
            label: '',
            backgroundColor: '#F0E442',
            borderColor: '#F0E442',
            data: [0.5, 0.75, 0.6, 0.82, 0.72, 0.6, 0.65, 0.7, 0.68],
        }]
    };

    const tasaDeConfig = {
        type: 'line',
        data: tasaDeData,
        options: {
            plugins: {
                legend: {
                    display: false,
                }
            },
            scales: {
                y: {
                    title: {
                        display: true,
                        text: "Tasa efectividad",
                        font: {
                            size: 22
                        }
                    }
                },
                x: {
                    title: {
                        display: true,
                        text: "Tiempo",
                        font: {
                            size: 22
                        }
                    }
                }
            }
        }
    };
    const tasaDe = new Chart(
        document.getElementById('tasa-de'),
        tasaDeConfig
    );


    const duaracionDeData = {
        labels: Resumenlabels,
        datasets: [{
            label: '',
            backgroundColor: '#009E73',
            borderColor: '#009E73',
            data: [7.5, 4.5, 7, 5, 7.5, 9, 7, 4.5, 0],
        }]
    };

    const duaracionConfig = {
        type: 'line',
        data: duaracionDeData,
        options: {
            plugins: {
                legend: {
                    display: false,
                }
            },
            scales: {
                y: {
                    title: {
                        display: true,
                        text: "Duracion (dias)",
                        font: {
                            size: 22
                        }
                    }
                },
                x: {
                    title: {
                        display: true,
                        text: "Tiempo",
                        font: {
                            size: 22
                        }
                    }
                }
            }
        }
    };
    const duaracion = new Chart(
        document.getElementById('duracion'),
        duaracionConfig
    );

</script>


</html>